<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postmessage" method="post">
        <input type="email" name="email" placeholder="example@email.com">
        <input type="text" name="message" placeholder="message">
        <button type="submit">Okej</button>
    </form>
    <% for( let i = 0; i < messages.length; i++ ) { %>
        <h1><%- messages[i].email %>  </h1>
    <% } %>
</body>
</html>